<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MeasureComplexInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MeasureComplexInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MeasureComplexInterface.Properties.Settings>
      <setting name="SamplingRate" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WindSpeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RotorType" serializeAs="String">
        <value>Дарье</value>
      </setting>
      <setting name="RotorProfile" serializeAs="String">
        <value />
      </setting>
      <setting name="VaneWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VaneHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RotorDiameter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OutUT61b" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OutWE2107" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OutRotorPower" serializeAs="String">
        <value />
      </setting>
      <setting name="OutTorque" serializeAs="String">
        <value />
      </setting>
      <setting name="OutCurrentTime" serializeAs="String">
        <value />
      </setting>
      <setting name="Performance" serializeAs="String">
        <value />
      </setting>
    </MeasureComplexInterface.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <MeasureComplexInterface.Properties.Settings>
      <setting name="OutUT372" serializeAs="String">
        <value>0</value>
      </setting>
    </MeasureComplexInterface.Properties.Settings>
  </applicationSettings>
</configuration>